body {
  margin: 0;
  font-family: 'Red Hat Display', sans-serif;
}

button#form-button-control-public {
  width: 100%;
  background: #a1c4fd;
  color: white;
}

button.rounded.mt-md-5.w-100.back.text-center.border-0.p-3 {
  background: #a1c4fd;
  color: white;
}

@tailwind base;
@tailwind components;
@tailwind utilities;
